node_modules/
jspm_packages/
web_modules/

.env
.env.*
!.env.example
.env.local
functions/.env
frontend/.env

dist
dist/
coverage
.nyc_output
.cache
.parcel-cache
.next
out
.nuxt
.svelte-kit/
.docusaurus

*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
firebase-debug.log
firestore-debug.log
ui-debug.log

*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

build/Release
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.serverless/
.firebase/

.DS_Store
.vscode-test

.vercel
.env*.local
